.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 16px;
  background: #f8f8f8;
}

.wishListContainer {
  display: flex;
  flex-direction: column;
}

.inputWishList {
  height: 35px;
}

.buttonWishList {
  height: 35px;
}
